<form action="/cryptids" method="POST">
<label for="cryptidName">Name</label>
<input type="text" id="cryptidName" name="name">

<label for="cryptidImgUrl">Img URL</label>
<input type="text" id="cryptidImgUrl" name="img_url">
<input type="submit">
</form>