<!-- action =  what route this form will go to when submitted -->
<!-- method = what http verb the submission request will use -->
<form action="/dinosaurs" method="POST">
    <!-- name is the key that this data will enter our app as -->
    <!-- It should match up to the fields we are saving to (index) -->
    <label for="dinoName">Name</label>
    <input id="dinoName" type="text" name="name">
    <label for="dinoType">Type</label>
    <input id="dinoType" type="text" name="type">
    <input type="submit">

</form>